#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="file"]::file-selector-button {
  background-color: #0a9586; /* Example: light blue on hover */
  color: #ffffffff;
  border: none;
}